.box-title
{
    display:inline;
}
.type
{
    display: none;
}

textarea {
    width: 100%; /* Ширина поля в процентах */
    height: 100px; /* Высота поля в пикселах */
    resize: none; /* Запрещаем изменять размер */
}
body
{
    height: 100%;
}
/*# sourceMappingURL=all.css.map */
